@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Medium.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-MediumItalic.ttf") format("ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Thin.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-ThinItalic.ttf") format("ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Press Start 2P";
  src: url("../fonts/PressStart2P/PressStart2P-Regular.ttf") format("ttf");
}


body{
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Medium.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

.sidebar__item {
  margin: 10px 0 0 0;
}

.header{
  text-align: center;
}

.history__heading{

  text-align: center;

}


 .review__heading{

  text-align: center;

 }

.history__owner {
  float: right;
  
}

.img__1{


  width: 500px;

}

.img__2{
  float: right;
  width: 500px;
}