@font-face {
    font-family: "Dank Mono";
    src:
    local("Dank Mono"),
    local("Dank-Mono"),
    url(/fonts/Dank\ Mono\ Italic.otf) format("otf");
    text-decoration-color:brown;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-Medium.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: "GemunuLibre" format ("ttf");
    src: url("/fonts/Gemunu\ Libre/GemunuLibre-VariableFont_wght.ttf");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto/Roboto-MediumItalic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
  }

  * {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 20px;
  }
  
   h1 {
    font-family: "Press Start 2P", sans-serif;
    font-size: 24px;
    font-weight: normal;
    margin: 0;
    text-decoration: underline;
    letter-spacing: 4px;
  } 
  
  h2 {
    font-family: "Press Start 2P", sans-serif;
    font-size: 18px;
    text-shadow: 5px 5px #558abb;
  }

.sidebar__item {
    margin: 10px 0 0 0;
}

.history__heading {
    text-align: center;
}

.history__guido {
    float: right;
}

.history__python-icon {
    float: left;
}

.review__center-floating {
    display: flex;
}

.review__brain-time {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px dashed rgb(145, 96, 7);
    opacity: 0.6;
}

.review__brain-time-img {
    width: 50%;
    height: 50%;
    animation: spin infinite linear;
    animation-duration: 4000ms;
}

.tag__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    flex-wrap: wrap;
}

.props__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    flex-wrap: wrap;
}

table.t1 {
    margin: 1em auto;
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
}
.t1 th, .t1 td {
    padding: 4px 8px;
}
.t1 thead th {
    background: #4f81bd;
    text-transform: uppercase;
    text-align: center;
    font-size: 15px;
    color: #fff;
}
.t1 tr {
    border-right: 1px solid #95b3d7;
}
.t1 tbody tr {
    border-bottom: 1px solid #95b3d7;
}
.t1 tbody tr:nth-child(odd) {
    background: #dbe5f0;
}
.t1 tbody th, .t1 tbody tr td {
    border-right: 1px solid #95b3d7;
}
.t1 tfoot th {
    background: #4f81bd;
    text-align: center;
    font-weight: normal;
    font-size: 10px;
    color: #fff;
}
.t1 tr *:nth-child(3), .t1 tr *:nth-child(4) {
    text-align: center;
}

.review__heading{
font-family: "Dank Mono" ,sans-serif;
text-align: center;
font-size: 14px;
letter-spacing: 0px;
margin: 0;
background-color: yellow;
}

h1{
    font-family: "GemunuLibre", sans-serif;
    font-size:24px;
    font-weight: normal;
    text-align: center;
    justify-content: center;
    letter-spacing: 0px;
    margin: 0;
    background-color: #4f81bd;
}

.code__heding{
    text-align: center;
    justify-content: center;
    background-color: aqua;
}

body{
    text-align: center;
    justify-content: center;
    background-color: rgba(72, 31, 1, 0.5);
    margin-left: auto;
    margin-right: auto;

}
.sidebar__item{
    
        position: fixed;
        display: flex;
        
        height: 100%;
        
        padding: 0 10px;
        
        background-color: cornsilk;
        
        top: 3.8vh;
        
}
.history__heading {
    text-align: center;
  }
  .history__guido {
    padding: 2px;
    border: 1px solid #34b1c0;
    float: right;
  }
  .review__center-floating {
    display: flex;
  }
  .tag__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    flex-wrap: wrap;
  }
  .header {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 100%;
    height: 5vh;
  
    top: 0;
  
    background: #4661c9;
  
    z-index: 1;
  }
  .container {
    max-width: 800px;
    margin: 5vh auto;
  }
  .img__2{
    padding: 2px;
    border: 1px solid #34b1c0;
    float: right;
  }

  .img__1{
    max-width: 300px;
    max-height: 300px;
    padding: 2px;
    border: 1px solid #34b1c0;
    float: left;
  }
  ol{
    text-align: left;
  }